 body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #eee;
    font-family: sans-serif;
}

table {
    border-collapse: collapse;
    border: 8px solid black;
}

td {
    width: 80px;
    height: 80px;
    border: 4px solid black;
    background-color: white;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.blue {
    background-color: blue;
}

.black {
    background-color: black;
}

caption {
    caption-side: top;
    margin-bottom: 14px;
    font-size: 24px;
    font-weight: bold;
    color: #333;
}